@using System.Web.Mvc
@using System.Web.Mvc.Razor
@model BxAAS.Custom.BaconResult

@{
    Layout = null;
    Page.Title = Model.Title;
}
<link href="~/Content/bxaas.css" rel="stylesheet" />

<div class="bacon-card">
    <div>@{WriteLiteral(Model.Message);}</div>
    <div class="card-image" >
    
        <img alt="" src="@Model.ImageSource" style="max-width:200px;" />
    
    </div>
        <div>&copy; @DateTime.Now.Year, Bacon as a Serice.</div>
</div>
