<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" charset="utf-8" content="bacon as a service,bacon,service,SOA" />
    <title>@ViewBag.Title - Bacon as a Service</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bxaas.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    
    <div class="container body-content" style="padding-top:50px;">
        @RenderBody()
        
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr-2.8.3.js"></script>
</body>
</html>