
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>It's fucking BACON.</h1>
<h2>It's on-demand.  It's RESTful bacon.  It's everything you could ever have hoped for in a service API.</h2>
<h2>So why are you still reading this?  Simple. <br /> Directions.</h2>
<article>
    <h3>FAQ</h3>
    <ul style="list-style-type:none;"><li class="faq-bold">Q. How do I call it?</li>
    <li>A. You don't.  It calls you.  Playfully waving you over with its tendrils of bacon-y aroma.</li>
    <li class="faq-bold">Q. No, seriously, asshole.  How do I use this?  I need bacon NOW!</li>
    <li>A. Check out the detailed API documentation <a target="_blank" href="/Help">here.</a></li>
    <li class="faq-bold">Q. I've heard there might be easter eggs in this service.  Is this true?</li>
    <li>A. Possibly.  Eggs do go well with bacon.</li>
    <li class="faq-bold">Q. Is this site sponsored by or affiliated with Hormel, Oscar Meyer or Hillshire Farm?</li>
    <li>A. No, and I'm fairly certain they'd find my use of tildes to be utterly fucking offensive.</li>
    <li class="faq-bold">Q. Hasn't this been done before?</li>
    <li>A. Not in this format, no.  While <a href="http://jfvi.co.uk/2011/04/01/xangati-introduces-bacon-as-a-service/">Xangati</a> did incorporate bacon as a service, it was only meant for that particular interface.  This implementation is more along the lines of <a href="http://foaas.com">Fuck Off as a Service</a>, freely available to everyone.</li>
    </ul>
</article>
<p>Please keep in mind tht this site is still in the midst of being cooked up, so check back often.</p>

